.react-calendar__tile.relative::after {
    content: '';
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
  }
  